/* Use flex-box with Material design */
.spacer {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto; 
}

/*
.mat-tab-nav-bar .mat-tab-links md-ink-bar {
    width: 160px !important;
}
*/
